
<h1> Edit Issue: </h1>

      <div data-ng-controller="editIssue">
          <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
          <form name="issueForm" novalidate role="form">
              <div class="form-group">
                  <label for="title">Title</label>
                  <span class="label label-danger" data-ng-show="submitted && issueForm.title.$error.required">Required!</span>
                  <input type="text" name="title" data-ng-model="title" class="form-control" required />
              </div>

              <div class="form-group">
                  <label for="description">Description</label>
                  <textarea name="description" data-ng-model="description" class="form-control" ></textarea>
              </div>

              <div class="form-group">
                  <label for="asignee_id">Assignee</label>
                  <select name"asignee_id" data-ng-model="asignee_id" data-ng-options="id as value for (id, value) in asigneeListOptions" class="form-control">
                      <option value="Select a user"></option>
                  </select>
              </div>

              <div class="form-group">
                  <label for="type_name">Kind</label>
                  <span class="label label-danger" data-ng-show="submitted && issueForm.type_name.$error.required">Required!</span>
                  <select name="type_name" data-ng-model="type_name" class="form-control" required >
                      <option value="bug">Bug</option>
                      <option value="enhancement">Enhancement</option>
                      <option value="proposal">Proposal</option>
                      <option value="task">Task</option>
                  </select>
              </div>

              <div class="form-group">
                  <label for="priority">Priority</label>
                  <span class="label label-danger" data-ng-show="submitted && issueForm.priority.$error.required">Required!</span>
                  <select name="priority" data-ng-model="priority" class="form-control" required >
                      <option value="trivial">Trivial</option>
                      <option value="minor">Minor</option>
                      <option value="major">Major</option>
                      <option value="critical">Critical</option>
                      <option value="blocker">Blocker</option>
                  </select>
              </div>

              <div class="form-group">
                  <label for="attachment">Attachment</label>
                  <input type="file" name="arxiu" data-ng-model="attachment"/>
              </div>

              <button data-ng-click="submit(issueForm)" class="btn btn-default">Submit</button>
          </form>
      </div>