<div class="container" ng-controller="issuesCtrl" data-ng-init="init()">
  <div id="repo-content" class="aui-page-panel-content" data-module="repo/index">

    <div class="aui-group repo-page-header">

        <div class="aui-item section-title">
          <h1>Issues</h1>
        </div>
              
        <div class="aui-item page-actions">
          <a ng-click="createIssue()" id="create-issue-contextual" class="aui-button aui-button-subtle" resolved="">
            <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
            <span class="aui-button-label">
              Create issue</span>
          </a>
        </div>
        
    </div>

    <div id="issues" class="clearfix">
      <section id="issues-list">

        <header>
          <div class="filter-container">
          
            
            <ul class="filter-status">

              <p class="filter-label"> FILTERS: </p>
              
              <li class="aui-button aui-button-subtle" id="all" aria-pressed={{all}} ng-click="DoItForYourLover()"> All </li>
              
              <li class="aui-button aui-button-subtle" id="open" aria-pressed={{open}} ng-click="MidOrFeed()"> Open </li>
        
              <li class="aui-button aui-button-subtle" id="mine" aria-pressed={{mine}} ng-click="DiegoGallo()">My Issues </li>

            </ul>

          </div>
        </header>

      <h1 class="numissue"> Issues ({{issues.length}} - {{issues.length}} of {{issues.length}}) </h1>

      <p id="issues-filter-criteria"> 
        <b ng-show="status != null"> status: </b> {{status}}
        <b ng-show="type_name != null"> type: </b> {{type_name}}
        <b ng-show="priority != null"> priority </b> {{priority}}
        <b ng-show="asignee_id != null"> assignee: </b> {{asignee_id}}
        <b ng-show="sort != null"> sort: </b> {{sort}}
      </p>

      <div class="maskable">
        <table class="aui aui-table-interactive bb-list issues-list iterable optcols_0" data-current-status="" role =columnheader data-module="components/follow-list">
          <thead>
            <tr>

              <th aria-sort={{order_title}} class= "text sortable-table--column-header"
              data-initial-sort-direction="ascending" ng-click="getIssues(null,null,null,null,'title')"> Title </th>

              <th aria-sort={{order_type}} class= "text sortable-table--column-header"
              data-initial-sort-direction="ascending" ng-click="getIssues(null,null,null,null,'type_name')"> T </th>

              <th aria-sort={{order_priority}} class= "text sortable-table--column-header"
              data-initial-sort-direction="ascending" ng-click="getIssues(null,null,null,null,'priority')"> P </th>

              <th aria-sort={{order_status}} class= "text sortable-table--column-header"
              data-initial-sort-direction="ascending" ng-click="getIssues(null,null,null,null,'status')"> Status </th>

              <th aria-sort={{order_votes}} class= "text sortable-table--column-header"
              data-initial-sort-direction="ascending" ng-click="getIssues(null,null,null,null,'votes')"> Votes </th>

              <th aria-sort={{order_assignee}} class= "text sortable-table--column-header"
              data-initial-sort-direction="ascending" ng-click="getIssues(null,null,null,null, 'asignee_id')"> Assignee </th>

              <th aria-sort={{order_created_at}} class= "text sortable-table--column-header"
              data-initial-sort-direction="ascending" ng-click="getIssues(null,null,null,null,'created_at')"> Created At </th>

              <th aria-sort={{order_updated_at}} class= "text sortable-table--column-header"
              data-initial-sort-direction="ascending" ng-click="getIssues(null,null,null,null,'updated_at')"> Updated At</th>

            </tr>

          <tbody>
             <tr class=" iterable-item" data-state="on hold" ng-repeat="x in issues">

                <td class="text">
                  <div class="flex-content">
                   <div class="flex-content--primary issue-list--title">
                      <a href="#/issues/{{x.id}}"> {{x.title}} </a>
                    </div>
                  </div>
                </td>

                <td  ng-click="getIssues(null,x.type_name,null,null,null)"> 
                  <img ng-src="https://d301sr5gafysq2.cloudfront.net/1cc0811f4855/img/issues/kinds/{{x.type_name}}.svg"/>
                </td>

                <td ng-click="getIssues(null,null,x.priority,null,null)">
                  <img class="icon icon-major" ng-src="https://d301sr5gafysq2.cloudfront.net/1cc0811f4855/img/issues/priorities/{{x.priority}}.svg"/>
                </td>

                <td  class="ng-class: YasuoOp(x.status)" ng-click="getIssues(x.status,null,null,null,null)"> {{x.status}} </td>

                <td class="votes">
                    <span class="ng-class: Heimerdinger2g(x.id)"> {{x.votes.length}} </span>
                </td>
                
                <td class="user" ng-click="getIssues(null,null,null,x.asignee_id,null)">
                  
                  <div>
                  <div ng-show="x.asignee_id != null" class="aui-avatar aui-avatar-xsmall">
                      <div class="aui-avatar-inner">
                        <img class="icon icon-major" ng-src="https://bitbucket.org/account/Visape/avatar/32/?ts=1495969306"/>
                      </div>
                  </div>

                  <span ng-show="x.asignee_id != null"> {{SurrenderAt20(x.asignee_id)}} </span>
                  </div>

                </td>

                <td class="date">
                  <div>
                    <time data-title="true">
                      {{x.created_at}}
                    </time>
                  </div>
                </td>
                
                 
                <td class="date">
                  <div>
                   <time data-title="true">
                    {{x.updated_at}}
                   </time>
                  </div>
                </td>

                <td class="actions">

                    <div>
                       <a class= "ng-class: AllauhAlBar(x.id)" data-template="issue-watch-template" data-type="issue" ng-click="ForeverPatata(x.id)"> Watch this issue </a>
                    </div>

                </td>

            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

