
    <div class="aui-page-panel-inner" ng-controller="ShowIssueCtrl" ng-init="initIssue()"> 
    <div id="repo-content" class="aui-page-panel-content" data-module="repo/index">
    <div class ="aui-group"> 
    <div class="aui-item">
        <h1>Issues</h1>
    </div>
    <div class="aui-item page-actions"> 
        <a href="#/createissue" id="create-issue-contextual" class="aui-button aui-button-subtle">
        <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
        <span class="aui-button-label">Create issue</span> <!--falta afegir link-->
        </a>
    </div>
    </div>
<section id="issue-view">
  <div class="issue-header">
          <span class="issue-id">Issue #{{id}}</span>
    <a class="aui-lozenge">{{status}}</a>
    <div class="issue-toolbar">
        <div class="aui-buttons" id="issue-actions">
            <a ng-click="ChangeState()" class="aui-button aui-button-primary">{{alternative_state}}</a>
            <div class="dropdown aui-button aui-dropdown2-trigger aui-alignment-target aui-alignment-element-attached-top 
                aui-alignment-element-attached-right aui-alignment-target-attached-bottom aui-alignment-target-attached-right"
            ng-click="myFunction()">Workflow
            <div id="myDropdown" class="dropdown-content aui-dropdown2 aui-style-default aui-layer aui-alignment-element aui-alignment-side-bottom 
            aui-alignment-snap-right aui-alignment-element-attached-top aui-alignment-element-attached-right aui-alignment-target-attached-bottom 
            aui-alignment-target-attached-right aui-alignment-side-bottom aui-alignment-snap-right aui-alignment-side-bottom 
            aui-alignment-snap-right">
                <ul>
                    <a ng-click="ChangeStatus('new')">new</a>
                    <a ng-click="ChangeStatus('on hold')">on hold</a>
                    <a ng-click="ChangeState()">{{alternative_state.toLowerCase()}}</a>
                    <a ng-click="ChangeStatus('duplicate')">duplicate</a>
                    <a ng-click="ChangeStatus('invalid')">invalid</a>
                    <a ng-click="ChangeStatus('wontfix')">wontfix</a>
                    <a ng-click="ChangeStatus('closed')">closed</a>
                </ul>
            </div>
            </div>
        </div> 
        <div class="aui-buttons">
                       <div class="dropdown aui-button aui-dropdown2-trigger aui-alignment-target aui-alignment-element-attached-top 
                aui-alignment-element-attached-right aui-alignment-target-attached-bottom aui-alignment-target-attached-right"
            ng-click="myFunction()">More
            <div id="myDropdown" class="dropdown-content aui-dropdown2 aui-style-default aui-layer aui-alignment-element aui-alignment-side-bottom 
            aui-alignment-snap-right aui-alignment-element-attached-top aui-alignment-element-attached-right aui-alignment-target-attached-bottom 
            aui-alignment-target-attached-right aui-alignment-side-bottom aui-alignment-snap-right aui-alignment-side-bottom 
            aui-alignment-snap-right">
                <ul>
                    <a ng-click="deleteIssue()">Delete</a>
                </ul>
            </div>
            </div>  
        </div>
        <div class="aui-buttons">
            <a class="aui-button" href="#/editissue/{{id}}" resolved="">Edit</a>
        </div>
    </div>
  <div id="issue-details" class="aui-group">
    <div id="issue_left_detail" class="aui-item">
        <div id="issue-main-content">
            <h1 id="issue-title"> {{title}}</h1>
            <div class="issue-author">
                <a title="Author">
                    <div class="aui-avatar aui-avatar-medium">
                        <div class="aui-avatar-inner">
                            <img src="https://bitbucket.org/account/Visape/avatar/32/?ts=1496079475" />
                        </div>
                    </div>
                    <span title="Creator">{{creator.name}}</span>
                </a>
                created an issue
                <time data-title="true">
              {{created_at}}
             </time>
            </div>
            <div class="issue-description wiki-content">
                <p>{{description}}</p>
            </div>

        </div>
      <div id="issues-comments-container">
        <h2> Comments({{comments.length}})</h2> 
        <ol id= "issues-comments" class="comments-list commentable">
              <!-- aqui loop -->
                  <li class="issue-comment comment" ng-repeat="x in comments">
                  <article class="iterable-item">
                    <header>
                     <a title="Author" href="#/issues">
                      <div class="aui-avatar aui-avatar-medium">
                        <div class="aui-avatar-inner">
                          <img ng-src="https://bitbucket.org/account/Visape/avatar/32/?ts=1496138545"/>
                        </div>
                      </div>
                    </a> 
                    <a href="/issues" class="author">{{x._embedded.author.name}}</a>
             <!--       <% if @issue.creator.id == comment.author.id %>
                    <span class="aui-lozenge aui-lozenge-complete 
                    aui-lozenge-subtle user-issue-lozenge">reporter</span>
                    <% end %> -->
                    </header>
                   <!-- <ul class="changes">
                      <% if comment.changetitle!=nil %>
                      <li><%=comment.changetitle%><%= link_to comment.ctitle, @issue%></li>
                      <%end%>
                      <% if comment.changeasignee!=nil %>
                      <li><%=comment.changeasignee%><%= link_to comment.casignee, "/issues?asignee_id=" + comment.casignee %></li>
                      <%end%>
                      <% if comment.changetype!=nil %>
                      <li><%=comment.changetype%><%= link_to comment.ctype, "/issues?type_name=" + comment.ctype%></li>
                      <%end%>
                      <% if comment.changepriority!=nil %>
                      <li><%=comment.changepriority%><%= link_to comment.cpriority, "/issues?priority=" + comment.cpriority%></li>
                      <%end%>
                      <% if comment.change!=nil %>
                      <li><%=comment.change%><%= link_to comment.cstatus, "/issues?status=" + comment.cstatus %></li>
                      <%end%>
                      <% if comment.changedescrip!=nil %>
                      <li><%=comment.changedescrip%></li>
                      <%end%>
                            </ul> -->
                    <div class="wiki-content comment-content">
                      <p>{{x.text}}</p>
                    </div>
                    
                    <ul class="comment-actions">
                 <!--      <% if comment.status != "change" and current_user == comment.author %>
                      <li>
                         <%= link_to 'Edit', edit_comment_path(comment), :class=>"edit-comment-link"%>
                      </li>
                      <li>
                         <%= link_to "Delete", comment_path(comment), method: :delete %>
                      </li>
                      <%end %>
                      -->
                      <li>
                       <time data-title="true">
                        {{x.created_at}}
                       </time>
                      </li>
                    </ul>
                  </article>
                  </li> 
          <li class= "new-comment">
            <div class="user">
              <div class="aui-avatar aui-avatar-medium">
                  <div class="aui-avatar-inner">
                    <img ng-src="https://bitbucket.org/account/Visape/avatar/32/?ts=1496138545"/>
                  </div>
                </div>
            </div>
            <div class="aui top-label editor">
            <form novalidate>
                <br>
                <textarea ng-model="commentArea"></textarea>
                <input type="submit" class="aui-button aui-button-primary" ng-click="createComment(commentArea)" value="Comment"></input>
            </form>
            </div>
          </li>
        </ol>
      </div>
    </div>
    <div class="aui-item sidebar">
      <div class="issue-attrs" id="issues">
        <dl>
            <dt>Assignee</dt>
            <dd class="assignee with-icon">
                <div ng-if="asignee.name!=null">
                    <a href="#/issues?asignee_id={{asignee_id}}">
                        <span class="aui-avatar aui-avatar-xsmall">
                        <span class="aui-avatar-inner">
                            <img src="https://bitbucket.org/account/Visape/avatar/32/?ts=1496079475"/>
                        </span>
                        </span>
                        {{asignee.name}}
                    </a>
                     </div>
                        <div ng-if="asignee.name==null">-</div>
                    </dd>
          </dd>
        </dl>
            <dl>
                    <dt>Type</dt>
                    <dd class="type with-icon">
                        <a href="#/issues?type_name={{type_name}}">
                    <img class= "icon" ng-src="https://d301sr5gafysq2.cloudfront.net/1cc0811f4855/img/issues/kinds/{{type_name}}.svg">
                    </img>
                    {{type_name}}
               </a>
                    </dd>
         </dl>
                <dl>
                    <dt>Priority</dt>
                    <dd class="type with-icon">
                        <a "#/issues?priority={{priority}}">
                    <img class= "icon" ng-src="https://d301sr5gafysq2.cloudfront.net/1cc0811f4855/img/issues/priorities/{{priority}}.svg">
                    </img>
                    {{priority}}
             </a>
                    </dd>
                </dl>
                <dl>
                    <dt>Status</dt>
                    <dd class="status">
                        <a href="#/issues?status={{status}}">
                {{status}}
              </a>
                    </dd>
                </dl>
<dl>
            <dt>Votes</dt>
            <dd class="votes">
              <span id="issue-vote-count" class="aui-badge">{{votes.length}}</span>
              
                <a ng-click="Vote()"
                id="issue-vote-trigger" class="vote-issue" data-vote-text="Vote for this issue" data-unvote-text="Remove vote" 
                data-voted="false" title="Vote for this issue"> {{voteText}}
                   
                </a>
              
            </dd>
          </dl>
        <dl>
            <dt>Watchers</dt>
            <dd class="watchers">
              <span id="issue-watch-count" class="aui-badge">{{watchingNum()}}</span>
              
                <a ng-click=Watch() id="issue-watch-trigger" 
                class="follow-issue follow" data-follow-text="Watch this issue" data-unfollow-text="Stop watching" 
                title="Stop watching this issue">{{watchText}}</a>
              
            </dd>
          </dl>
      </div>
    </div>
  </div>
</section>
</div>
</div>